body{
    text-align: center;
    font-family: arial;
    color:chartreuse;
    border: 10px solid red;

}
span{
    background: green;
font-family: italic;
font-size: 8rem ;
}
h1{
    text-align: center;
    font-size: 25px;
    font-family: arial;
    background: ;
}